@media (prefers-color-scheme: dark) {
    body {
        background-color: #15141a;
        color: #fbfbfe;
    }

    button {
        color: #fbfbfe;
    }
}

.c-button {
    width: 40%;
    font-size: smaller;
    font-weight: 500;
    margin-bottom: 15;
}

.k-button {
    font-size: smaller;
    font-weight: 500;
    margin-bottom: 15;
}